###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               SRV_nagios
    alias                   SRV_nagios
    address                 10.0.0.90
    parents                 Servidores CASS
    icon_image              centos.gif
}




###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          linux-servers           ; The name of the hostgroup
    alias                   Linux Servers           ; Long name of the group
    members                 SRV_nagios              ; Comma separated list of hosts that belong to this group
}



################################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     PING
    service_groups          ping
    icon_image              arkoon-service-ping.png
    check_command           check-host-alive
}


# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     Usarios Login
    service_groups          usuarios_login
    icon_image              arkoon-service-admin.png
    check_command           check_local_users!20!50
}

#

# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     Procesos
    service_groups          procesos
    icon_image              arkoon-control-center.png
    check_command           check_local_procs!250!400!RSZDT
}



# Define a service to check the load on the local machine.

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     CPU
    service_groups          cpu
    icon_image              arkoon-service-load.png
    check_command           check_local_load!1.8, 1.4, 1!2, 1.6, 1.2
}



# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20%



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     Actualizacion
    service_groups          actualizacion
    check_command           check_yum
    icon_image              update.png
    notifications_enabled   0
}

define service {

    use                     local-service           ; Name of service template to use
    host_name               SRV_nagios
    service_description     Memoria
    service_groups          memoria
    check_command           check_mem!70!80
    icon_image              ram.png
    notifications_enabled   0
}
