###############################################################################
# WINDOWS.CFG - SAMPLE CONFIG FILE FOR MONITORING A WINDOWS MACHINE
#
#
# NOTES: This config file assumes that you are using the sample configuration
#    files that get installed with the Nagios quickstart guide.
#
###############################################################################



###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################

# Define a host for the Windows machine we'll be monitoring
# Change the host_name, alias, and address to fit your situation.

define host {
	use		    windows-server
	host_name           SRV04AD01.cass.cl
        hostgroups          windows-servers
	alias               SRV04AD01.cass.cl
	check_interval      1
	address             10.0.0.10
	parents             Host-10.0.0.121
	icon_image          cass_windows.png
	notification_interval       0 
	register                    1
}

define host {
	use                 windows-server
        host_name           SRVAD1.cass.pmc
        hostgroups          windows-servers
        alias               SRVAD1.cass.pmc
        check_interval      1
        address             10.0.0.4
        parents             Host-10.0.0.124
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
	use                 windows-server
        host_name           SRVADMIN.cass.pmc
        hostgroups          windows-servers
        alias               SRVADMIN.cass.pmc
        check_interval      1
        address             10.0.0.109
        parents             Host-10.0.0.121
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
	use                 windows-server
        host_name           SRVCONT.cass.cl
        hostgroups          windows-servers
        alias               SRVCONT.cass.cl
        check_interval      1
        address             10.0.0.95
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
	use                 windows-server
        host_name           SRV01USER_cass.cl
        hostgroups          windows-servers
        alias               SRV01USER_cass.cl
        check_interval      1
        address             10.0.0.12
        parents             Host-10.0.0.121
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
	use                 windows-server
        host_name           SRV05AD02_cass.cl
        hostgroups          windows-servers
        alias               SRV05AD02_cass.cl
        check_interval      1
        address             10.0.0.11
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
	use                 windows-server
        host_name           SRVAD2.cass.pmc
        hostgroups          windows-servers
        alias               SRVAD2.cass.pmc
        check_interval      1
        address             10.0.0.5
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRVDC1.cass.pmc
        hostgroups          windows-servers
        alias               SRVDC1.cass.pmc
        check_interval      1
        address             10.0.0.123
        parents             Host-10.0.0.121
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           Veeam2023.cass.pmc
        hostgroups          windows-servers
        alias               Veeam2023.cass.pmc
        check_interval      1
        address             10.0.0.83
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRV_Soporte
        hostgroups          windows-servers
        alias               SRV_Soporte
        check_interval      1
        address             10.0.0.96
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRV_GXConsultores
        hostgroups          windows-servers
        alias               SRV_GXConsultores
        check_interval      1
        address             10.0.0.115
        parents             Host-10.0.0.124
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRVDC01_cass.pmc
        hostgroups          windows-servers
        alias               SRVDC01_cass.pmc
        check_interval      1
        address             10.0.0.123
        parents             Host-10.0.0.124
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRV_Sharepoint
        hostgroups          windows-servers
        alias               SRVDC01_cass.pmc
        check_interval      1
        address             10.0.0.89
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRV05AD2_cass.pmc
        hostgroups          windows-servers
        alias               SRVDC01_cass.pmc
        check_interval      1
        address             10.0.0.5
        parents             Host-10.0.0.120
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}

define host {
        use                 windows-server
        host_name           SRV_VeeamOne
        hostgroups          windows-servers
        alias               SRVDC01_cass.pmc
        check_interval      1
        address             10.0.0.101
        parents             Host-10.0.0.124
        icon_image          cass_windows.png
        notification_interval       0
        register                    1
}
